<header>
    <h1><a href="/">kronsy.dev ( WIP )</a></h1>

    <ul class="nav-links">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/projects.html">Projects</a></li>
        <li class="nav-item"><a href="/socials.html">Socials</a></li>
        <li class="nav-item"><a href="/contact.html">Contact</a></li>
        <li class="nav-item">
            <a href="https://github.com/KronsyC">
                <img class="icon" src="/static/github-mark.png" alt="">
            </a>
        </li>

    </ul>
</header>